# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.tseval "SSH_AUTH_SOCK=/var/folders/6f/bb3lv14d5q98_wnfpd5n2mrw0000gp/T//ssh-rW5DHHJfnHgB/agent.74922; export SSH_AUTH_SOCK;
SSH_AGENT_PID=74923; export SSH_AGENT_PID;
echo Agent pid 74923;"
eval "SSH_AUTH_SOCK=/var/folders/6f/bb3lv14d5q98_wnfpd5n2mrw0000gp/T//ssh-0116ZiphLzKm/agent.74924; export SSH_AUTH_SOCK;
SSH_AGENT_PID=74925; export SSH_AGENT_PID;
echo Agent pid 74925;".pub
.env
